.p-timeline {
  &__header {
    @include flex(between, center);

    &--left {
      position: relative;

      img {
        display: inline-block;
      }

      .username {
        @extend %timeline_hover-link;
        display: inline-block;
        font-size: 16px;
        vertical-align: top;
        margin: 6px 0 0 9px;
        font-family: NotoSansCJKjp;
      }

      .squarebox {
        font-size: 14px;
        color: $dark-grey;
        padding: 6px 10px;
        border-radius: 2px;
        border: solid 1px $grey;
        margin: 3px 14px 0 28px;
        display: inline-block;
        vertical-align: top;
      }

      time {
        font-family: Roboto;
        font-size: 14px;
        vertical-align: top;
        display: inline-block;
        margin-top: 11px;
      }
    }

    &--right {
    }
  }

  &__main {
    &-title {
      font-size: 28px;
      font-family: NotoSansCJKjp;
      color: $blue;
      cursor: pointer;
      margin-top: 17px;
      display: inline-block;
      text-decoration: none;
      position: relative;

      &:after {
        position: absolute;
        bottom: 2px;
        left: 0;
        content: '';
        width: 0;
        height: 1px;
        background-color: $hover-light-blue;
        transition: 0.3s;
        opacity: 0;
        width: 100%;
      }
      &:hover {
        color: $hover-light-blue;
        text-decoration: none;
        &:after {
          opacity: 1;
        }
      }
    }

    &-url {
      font-family: Roboto;
      font-size: 14px;
      color: $dark-grey;
      border-radius: 2px;
      border: solid 1px $light-blue;
      background-color: $pale-blue;
      padding: 10px 0;
      text-align: center;
      word-wrap: break-word;
      margin: 17px 0 20px;

      &:hover {
        background-color: #fff;
        color: $hover-light-blue;
        transition: all 0.3s ease;
        text-decoration: underline;
      }
    }

    &-description {
      font-family: NotoSansCJKjp;
      font-size: 16px;
      color: $dark-grey;
      p {
        margin-bottom: 1em!important;
      }
    }

    img {
      width: 400px;
      height: 250px;
      border-radius: 2px;
      margin: 30px auto;
    }
  }

  &__footer {
    &-label {
      font-family: NotoSansCJKjp;
      font-size: 16px;
      font-weight: bold;
    }

    &__comment-area {
      margin: 19px 0 50px;
      background-color: $pale-blue;
      border-radius: 2px;
      padding-bottom: 20px;
    }

    &__commentbox {
      padding: 13px 20px 0;

      div:nth-last-child(2) {
        padding-bottom: 10px;
      }

      &-unit {
        margin-bottom: 27px;
      }

      &-img {
        vertical-align: middle;
        display: inline-block;
      }

      &-username {
        @extend %timeline_hover-link;
        font-family: Roboto;
        font-size: 14px;
        display: inline-block;
        margin-left: 8px;
      }

      &-time {
        font-family: Roboto;
        font-size: 14px;
        color: $dark-grey;
        display: inline-block;
        margin-left: 8px;
      }

      &-description {
        margin-top: 13px;
        font-size: 14px;
        font-family: NotoSansCJKjp;
        p {
          margin-bottom: 1em!important;
        }
      }
    }
  }
}
