// ボタンのコンポーネント

.c-button {
  box-shadow: 0 0 15px $box-shadow;
  padding: 16px 24px;
  font-size: 16px;
  color: $white !important;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  // 基本の四角い黄色いボタン
  &--square-yellow {
    @extend .c-button;
    border-radius: 2px;
    background-color: $yellow;
      &:hover {
        background-color: $dark-yellow;
      }
  }
  // ボーダーで灰色のボタン
  &--square-light-blue {
    @extend .c-button;
    background-color: $light-blue !important;
    &:hover {
      border-color: $dark-grey;
      color: $dark-grey !important;
    }
  }
  // ヘッダーの無料会員登録ボタン
  &--header {
    @extend .c-button--square-yellow;
    padding: 11px 22px;
    font-weight: bold;
  }
  // ユーザー登録のボタン
  &--submit {
    @extend .c-button--square-yellow;
    padding: 17px 22px;
    font-size: 14px;
    text-align: center;
    font-family: NotoSansCJKjp;
    cursor: pointer;
  }
  // 検索ボタン
  &--search {
    @extend .c-button--square-yellow;
    padding: 12px 54px;
    font-family: NotoSansCJKjp;
    font-size: 16px;
    font-weight: bold;
  }
  // 並び替えボタン
  &--order {
    @extend .c-button--square-light-blue;
  }

  // 画像投稿ボタン
  &--image {
    display: inline-block;
    padding: 8px 12px;
    @extend .c-button--square-yellow;
  }
  // コメントを投稿する部分での会員登録ボタン
  &--comment-registration {
    padding: 7px 13px;
    @extend .c-button--square-yellow;
  }

  &--comment-post {
    font-family: NotoSansCJKjp;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 14px;
    @extend .c-button--square-yellow;
  }
}
