.p-form {
  &-title {
    font-size: 28px;
    font-family: NotoSansCJKjp;
    text-align: center;
    padding: 50px 0;
    font-weight: normal;
  }

  &__input {
    width: 600px;
    margin: 0 auto;

    &-field {
      margin-bottom: 30px;

      &-wrapper {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          display: block;
          border-top: 4px solid $dark-grey;
          border-right: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 4px solid transparent;
          top: 18px;
          left: 135px;
        }
      }

      label {
        display: inline-block;
        font-weight: 500;
        margin-bottom: 7px;
        font-size: 12px;
        font-family: NotoSansCJKjp;
        color: $dark-grey;

        &.require {
          &::after {
            content: '(*必須)';
            color: $dark-grey;
            font-size: 12px;
            font-weight: 500;
            margin-left: 2px;
          }
        }

        &.require_description {
          &::after {
            content: '(*必須 170字まで)';
            color: $dark-grey;
            font-size: 12px;
            font-weight: 500;
            margin-left: 2px;
          }
        }

        &.option {
          &::after {
            content: '(*任意)';
            color: $dark-grey;
            font-size: 12px;
            font-weight: 500;
            margin-left: 2px;
          }
        }
      }

      span {
        display: inline-block;
        font-weight: 500;
        margin-bottom: 7px;
        font-size: 12px;
        font-family: NotoSansCJKjp;
        color: $dark-grey;
      }

      input {
        width: 100%;
        height: 42px;
        border-radius: 2px;
        border: solid 1px #c0c6d6;
        background-color: #ffffff;
        font-size: 14px;
        color: $dark-grey;
        padding-left: 15px;
      }

      select {
        width: 160px;
        display: block;
        height: 42px;
        border-radius: 2px;
        border: solid 1px #c0c6d6;
        background-color: #ffffff;
        font-size: 14px;
        color: $dark-grey;
        padding-left: 15px;
        font-family: NotoSansCJKjp;
        appearance: none;

        option {
          background-color: #fff;
          color: #333;
        }

        option:first-child{
          background:green;
        }
      }

      textarea {
        width: 100%;
        height: 131px;
        border-radius: 2px;
        border: solid 1px #c0c6d6;
        background-color: #ffffff;
        font-size: 14px;
        color: $dark-grey;
        padding: 14px;
        resize: none;
      }
    }

    &-submit {
      text-align: center;
      padding-top: 20px;
      font-weight: bold;
      margin-bottom: 100px;
    }
  }
  &__file-field {
    margin-bottom: 30px;

    label {
      display: block;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: NotoSansCJKjp;
      color: $dark-grey;

      &.option_image {
        &::after {
          content: 'を登録(任意)';
          color: $dark-grey;
          font-size: 12px;
          font-weight: 500;
          margin-left: 2px;
        }
      }
    }

    input {
      display: none;
    }

    span {
      font-family: NotoSansCJKjp;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }

    img {
      display: none;
      margin-top: 20px;
    }
  }
}
