.l-main {
  &__search {
    background-color: $pale-blue;

    &__form {
      padding: 36px 0;
      text-align: center;

      &-input {
        height: 48px;
        width: 502px;
        border-radius: 2px;
        border: solid 1px #b9bcc2;
        background-color: #fff;
        font-family: HiraginoSans-W3;
        font-size: 14px;
        color: $grey;
        padding-left: 19px;
        &::placeholder {
          color: $grey;
        }
      }

      &-submit {
        margin-left: 10px;
      }
    }
  }

  &__contents {
    width: 1020px;
    margin: 30px auto 100px;

    &__orderlist {
      @include flex(start, center);

      &-item {
        font-family: NotoSansCJKjp;
        font-size: 14px;

        &:first-child {
          margin-right: 15px;
        }

        a {
          color: $dark-grey;
          &.active {
            padding: 7px 15px;
            @extend .c-button--order;
            font-size: 14px;
            font-weight: bold;
            color: $dark-grey !important;
          }
        }
      }
    }
    &__box {
      margin-top: 40px;
      @include flex(start, start);
      &__timeline {
        width: 700px;
        margin-right: 30px;
      }

      &__sidebar {
        margin-left: 30px;
        width: 290px;
      }
    }
  }
}
