// グローバルナビゲーションのスタイル

.l-gnav {
  &__contents {
    &--before-login {
      @include flex();
      padding: 15px 30px 15px 0;
      @include tablet {
        display: block;
        padding: 20px 30px;
      }
    }
    &--after-login {
      @include flex();
      @include tablet {
        display: block;
        padding: 20px 30px;
      }
    }
  }

  &__list {
    font-size: 14px;
    position: relative;
    @include flex(between, center);
    @include tablet {
      display: block;
    }
  }

  // グロナビのリンク
  &__link {
    padding: 0 30px 0 0;
    a {
      color: $dark-grey;
      &:hover {
        color: $blue;
      }
    }
    @include tablet {
      padding: 0 0px 20px 0px;
      font-size: 16px;
    }
  }

  // ヘッダーのボタン
  &__button {
    @include tablet {
      width: 100%;
    }
  }

  // アバター部分
  &__avatar {
    position: relative;
    margin-left: 4px;
    padding: 15px 50px 15px 30px;
    // hoverすると
    cursor: pointer;
    @extend %transition;
    @include tablet {
      padding: 20px 0 0 0;
    }
    &:hover {
      background-color: #f5f7fe;
      @include tablet {
        background-color: $white;
      }
    }
    // ユーザー情報の横のボーダー
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      width: 2px;
      height: 40px;
      background-color: $light-grey;
      border: none;
      @include tablet {
        display: none;
      }
    }

  }
  // アバターのユーザー情報部分
  &__user {
    // 情報部分
    &-info {
      position: relative;
      @include flex(0, center);
      @include tablet {
        margin-bottom: 10px;
      }
      // ユーザー情報の横の矢印
      &:after {
      content: '';
      position: absolute;
      right: -20px;
      top: 19px;
      box-sizing: border-box;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-top: 4px solid $dark-grey;
      @include tablet {
        display: none;
        }
      }
    }
    // ユーザーネーム
    &-name {
      margin-left: 10px;
      @include tablet {
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    // ユーザーメニュー
    &-menu {
      transform: translate3d(200px, 60px, 0px) !important;
      border: 1px solid $light-blue;
      box-shadow: 0 0 15px $box-shadow;
      border-radius: 4px;
      @include tablet {
        transform: none !important;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        font-size: 16px;
      }
    }
    // メニューのリンク
    &-link {
      @include tablet {
        padding: 15px 0;
        border-bottom: 1px solid $light-grey;
        &:first-child {

        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  // お知らせ
  &__news {
    padding: 20px 30px 20px 30px;
    // hoverすると
    cursor: pointer;
    @extend %transition;
    @include tablet {
      padding: 0;
    }
    &:hover {
      background-color: #f5f7fe;
      @include tablet {
        background-color: $white;
      }
    }
    //お知らせ内容
    &-menu {
      transform: translate3d(-10px, 65px, 0px) !important;
      right: 0 !important;
      left: auto !important;
      padding: 0 !important;
      width: 300px;
      border: 1px solid $light-blue;
      box-shadow: 0 0 15px $box-shadow;
      border-radius: 4px;
      color: $dark-grey;
      @include tablet {
        width: 100%;
        transform: none !important;
        border: none;
        box-shadow: none;
        font-size: 16px;
      }

      // お知らせの項目だけに使うオーバーライド
      li {
        &:not(:first-child) {
          padding: 16px !important;
          @include tablet {
            padding: 20px 0 !important;
            line-height: 1.6em;
          }
        }
        &:nth-child(n+3) {
          border-top: 1px solid $light-grey;
        }
        &:nth-child(2) {
          margin: 0 !important;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    // タイトル
    &-title {
      margin-top: 0 !important;
      padding: 8px 16px !important;
      border-bottom: 1px solid $light-grey;
      font-weight: bold;
      line-height: 1em;
      @include tablet {
        padding: 15px 0 0 5px !important;
        border-bottom: none;
        font-size: 16px;
      }
    }
    &-link {
      white-space: normal;
      a {
        display: inline !important;
        padding-left: 0 !important;
      }
    }
  }
  // ベルアイコン
  &__bell {
    position: relative;
    font-size: 20px;
    @include tablet {
      display: none;
    }

    // お知らせがあったら
    &.js-activeNews {
      &:after {
        content: '';
        position: absolute;
        top: 5px;
        width: 4px;
        height: 4px;
        border-radius: 99px;
        background-color: $red;
      }
    }
  }

  // ハンバーガーメニュー
  &__hum-menu {
    display: none;
  }
  // 1023px以下のときハンバーガーメニューにする
  @include tablet {
    &__open-menu {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
      span,
      span:before,
      span:after {
        position: absolute;
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background: $grey;
        display: block;
        content: '';
      }
      span:before {
        bottom: -8px;
      }
      span:after {
        bottom: -16px;
      }
    }
    &__close-menu {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $dark-grey;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    &__contents--before-login,
    &__contents--after-login, {
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;
      width: 80%;
      height: 100%;
      background: #fff;
      transition: .3s ease-in-out;
      transform: translateX(110%);
      font-size: 16px;
    }
    &__hum-menu:checked ~ &__close-menu {
      display: block;
      opacity: .5;
    }
    &__hum-menu:checked ~ &__contents--before-login,
    &__hum-menu:checked ~ &__contents--after-login, {
      transform: translateX(0);
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
  }
}
