// グローバルナビゲーションのスタイル

.l-gnav {
  &__list {
    font-size: 16px;
    position: relative;
    font-family: HiraginoSans-W3;
    @include flex(between, center);

    li:not(:first-child) {
      padding-left: 30px;
    }
  }

  &__link { // グロナビのリンク
    a {
      color: $dark-grey;
      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}
