.l-main {
  &__search {
    background-color: $pale-blue;

    &__form {
      max-width: 650px;
      margin: 0 auto;
      padding: 36px 0;
      text-align: center;
      @include smartphone {
        padding: 20px 16px;
      }

      &-input {
        width: calc(100% - 160px);
        border-radius: 2px;
        border: solid 1px #b9bcc2;
        background-color: #fff;
        font-size: 14px;
        color: $grey;
        padding: 12px;
        &::placeholder {
          color: $grey;
        }
        @include smartphone {
          width: calc(100% - 100px);
          padding: 10px 10px 10px 15px;
        }
      }

      &-submit {
        margin-left: 10px;
      }
    }
  }

  &__contents {
    width: 1020px;
    margin: 30px auto 100px;

    &__orderlist {
      @include flex(start, center);

      &-item {
        font-size: 14px;

        &:first-child {
          margin-right: 15px;
        }

        a {
          color: $dark-grey;
          &.active {
            @extend .c-button--order;
            padding: 7px 15px;
            font-size: 14px;
            font-weight: bold;
            color: $dark-grey !important;
          }
        }
      }
    }
    &__box {
      margin-top: 40px;
      @include flex(start, start);
      &__timeline {
        width: 700px;
        margin-right: 30px;
      }

      &__sidebar {
        margin-left: 30px;
        width: 290px;
      }
    }
  }
}
