.l-main {
  &__search {
    background-color: $pale-blue;

    &__form {
      max-width: 650px;
      margin: 0 auto;
      padding: 36px 0;
      text-align: center;
      @include smartphone {
        padding: 20px 16px;
      }

      &-input {
        width: calc(100% - 160px);
        border-radius: 2px;
        border: solid 1px #b9bcc2;
        background-color: #fff;
        font-size: 14px;
        color: $grey;
        padding: 12px;
        &::placeholder {
          color: $grey;
        }
        @include smartphone {
          width: calc(100% - 100px);
          padding: 10px 10px 10px 15px;
        }
      }

      &-submit {
        margin-left: 10px;
      }
    }
  }

  &__contents {
    width: 1020px;
    margin: 30px auto 50px;
    // 1240px以下で幅を変える
    @media screen and (max-width: 1240px) {
      width: 780px;
    }
    // 1023px以下で幅を変える
    @include laptop {
      width: 100%;
      padding: 0 20px;
    }

    &__orderlist {
      @include flex(start, center);

      &-item {
        font-size: 14px;

        &:first-child {
          margin-right: 15px;
        }

        a {
          color: $dark-grey;
          &.active {
            @extend .c-button--order;
            padding: 7px 15px;
            font-size: 14px;
            font-weight: bold;
            color: $dark-grey !important;
          }
        }
      }
    }
    &__box {
      margin-top: 40px;
      @include flex(start, start);
      // 1023px以下でflexboxをやめる
      @include laptop {
        display: block;
      }
      // 投稿詳細ページの投稿部分を包むコンテナ
      &--detail {
        width: 700px;
        margin: 0 auto;
        @include tablet {
          width: 100%;
          padding: 0 20px;
        }
        // 投稿詳細ページの中の横幅だけ大きく広げる
        .l-article {
          width: 100%;
        }
      }
    }
  }

  // 記事詳細などタイトルが出ているコンテナのスタイル
  &__header {
    padding: 50px 20px 30px;
    @include smartphone {
      padding: 30px 20px;
    }
    // タイトルのスタイル
    &__title {
      font-size: 28px;
      text-align: center;
      font-weight: normal;
      @include smartphone {
        font-size: 24px;
      }
    }
  }
}
