.c-comment {
  &-wrapper {
    form {
      margin-top: 20px;
      padding-bottom: 39px;
      position: relative;

      textarea {
        width: 100%;
        height: 76px;
        border-radius: 2px;
        border: solid 1px $grey;
        background-color: #ffffff;
        font-size: 14px;
        color: $dark-grey;
        padding: 14px;
        resize: none;
      }

      input {
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
    }
  }

  &-label {
    font-size: 16px;
    font-weight: bold;
  }

  &__box {
    margin: 20px 20px 0 0;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px $grey;

    &-login_announce {
      margin-top: 30px;
      text-align: center;
      font-size: 16px;
      font-weight: 300;

      span {
        display: inline;
      }

      a {
        display: inline;
        @extend %timeline_hover-link;
      }
    }

    &__list, ul {
      margin: 20px 0 30px;
      text-align: center;

      &-left {
        display: inline-block;
        margin-right: 10px;
      }

      &-right {
        display: inline-block;

        a {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
