.c-image {
  &__big__round {
    width: 160px;
    border-radius: 50%;
  }

  &__middle__round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__small__round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__square {
    border-radius: 2px;
    border: solid 1px $light-blue;
  }

  &__middle__square {
    width: 400px;
    height: 250px;
  }


}
