.c-image {
  &__big__round {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px $light-blue;
  }

  &__middle__round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px $light-blue;
  }

  &__small {
    &__round {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__square {
    max-width: 400px;
    margin: 30px auto;
    border-radius: 2px;
    border: solid 1px $light-blue;
    @include smartphone {
      width: 100%;
    }
  }

  &__middle__square {
    width: 400px;
    object-fit: cover;
    border: solid 1px $light-blue;
  }


}
