// ボタンのコンポーネント

.c-button {
  box-shadow: 0 0 15px $box-shadow;
  padding: 16px 24px;
  font-size: 16px;
  color: $white !important;

  // 基本の四角い黄色いボタン
  &--square-yellow {
    @extend .c-button;
    border-radius: 2px;
    background-color: $yellow;
      &:hover {
        background-color: $dark-yellow;
      }
  }
  // ボーダーで灰色のボタン
  &--round-grey {
    @extend .c-button;
    border: 1px solid $grey;
    border-radius: 9999px;
    color: $grey !important;
    &:hover {
      border-color: $dark-grey;
      color: $dark-grey !important;
    }
  }
  // ヘッダーの無料会員登録ボタン
  &--header {
    @extend .c-button--square-yellow;
    padding: 11px 22px;
    font-weight: bold;
  }

  &--submit {
    @extend .c-button--square-yellow;
    padding: 17px 22px;
    font-size: 14px;
    text-align: center;
    font-family: NotoSansCJKjp;
  }
}
