// グローバルナビゲーションのスタイル

.l-gnav {
  &__list {
    position: relative;
    @include flex(between, center);
  }

  &__link { // グロナビのリンク
    font-size: 14px;
    padding-right: 30px;
    a {
      color: $dark-grey;
      &:hover {
        color: $blue;
      }
    }
  }
}
